@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
    background-image: url('../images/bg-desktop.svg') ;
    background-size: contain;
    background-color: hsl(257, 40%, 49%);
    min-height: 1440px;
    color:#eee;
    font-family: 'Roboto';
    overflow: hidden;
}
header{
    width: 100%;
    height: 200px;
    margin-top:80px;
    margin-left: 80px;
}
main{
    margin: 0 auto;
    padding-left: 5%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

section img{
    width: 1030px;
    height: 630px;
}

h1{
    width: 400px;
    font-size: 35px;
    font-family: 'Alata';
    padding-right: 100px;
}

p{
    letter-spacing: 1.5px;
    width: 530px;
}
aside{
    text-align: left;
    width: 700px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    
}

aside a{
    background-color: #eee;
    color: hsl(257, 40%, 49%);
    padding: 15px 70px;
    border-radius: 20px;
    text-decoration: none;
}
aside a:hover{
    box-shadow:  3px 5px #012331;
    background-color:#424647 ;
    color: #9B4ECA;
}
footer{
    display: flex;
    justify-content: flex-end;
    position: relative;
    bottom: 0;
}
footer ul{
    display: flex;
    margin-right: 100px;
}
footer li{
    padding: 0 30px;
    list-style: none;
    justify-content: flex-end;
}
.social{
    font-size: 30px;
    color: #eee;
    text-decoration: none;
}
.social:hover{
    color: #9B4ECA;
    text-decoration: none;

}
