@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
    background-image: url('../images/bg-desktop.svg') ;
    background-size: contain;
    background-color: hsl(257, 40%, 49%);
    color:#eee;
    font-family: 'Roboto';

}
header{
    height: 10%;
    padding-bottom: 5%;
    margin-top:5%;
    margin-left: 5%;
}
main{
    margin: 0 auto;
    padding-left: 5%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

}
.section{
    width: 60%;
    height: 40%;
}
section img{
    width: 80%;
    height: 30%;
}

h1{
    font-family: 'Alata';
    padding-right: 10%;
}

p{
    line-height:1.6;
    padding-right: 4%;
}
aside{
    text-align: left;
    width: 40%;
    height: 50%; 
    display: flex;
    flex-wrap: wrap;
    padding-left:  2%;
}

aside a{
    background-color: #eee;
    color: hsl(257, 40%, 49%);
    padding: 15px 70px;
    border-radius: 20px;
    text-decoration: none;
}
aside a:hover{
    box-shadow:  3px 5px #012331;
    background-color:#424647 ;
    color: #9B4ECA;
}
footer{
    display: flex;
    justify-content: flex-end;
    position:relative;
    bottom:0;
    right:0;
}
footer ul{
    display: flex;
    margin-right: 2%;

}
footer li{
    padding: 0 30px;
    list-style: none;
    justify-content: flex-end;
}
.social{
    font-size: 30px;
    color: #eee;
    text-decoration: none;
}
.social:hover{
    color: #9B4ECA;
    text-decoration: none;

}
@media screen and (max-width:1024px){
.section{
    width: 60%;
}
.section img{
    width: 100%;
}
p{
    font-size:.8em;
}
}
@media screen and (max-width:768px){
    body{
        background-image: url('../images/bg-mobile.svg') ;
        background-size: fill;
        background-repeat: no-repeat;
        
    }
    main{
        display: block;
    }
    section{
        margin:0 auto;
    }
    aside{
        justify-content: center;
        margin:0 auto;
        text-align: center;
        width:auto;
    }
    footer{
        justify-content: center;
    }
}
@media screen and (max-width:480px){
   
}
@media screen and (max-width:320px){

}